.like-button {
    display: flex;
    align-items: center;
    background-color: rgba(222, 222, 222, 0.1);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.like-button:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(47%) sepia(71%) saturate(2750%) hue-rotate(340deg) brightness(99%) contrast(104%);
}

.like-button:active {
    transform: scale(0.9);
}

.like-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.like-count {
    font-size: 16px;
}