@import './../../styles/variables';

.form-login {
    background-color: $color-white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 450px;
    padding: 2rem;

    &__heading {
        color: $color-black;
        text-align: center;
    }

    &__error {
        margin: 1rem 0;
    }

    &__actions {
        text-align: center;
    }

    &__link {
        color: $color-black;
        margin: 0.5rem 0;
    }
}
