$font-size-base: 16px;

$padding-default: 1rem;
$padding-double: 2rem;

$margin-default: 1rem;
$margin-double: 2rem;

$page-width-max: 1440px;
$page-container-width: 960px;
$page-content-narrow: 600px;
